<div class="container">
  <div class="col-md-5 people">
    <h2>Who's Coming</h2>

    <hr>

    <ul class="list-inline">
      {{#each people as |person|}}
        <li>{{person-avatar person=person}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-7 items">
    <h2>What's Coming</h2>

    <hr>

    {{item-form trip=model}}

    <ul class="list-group">
      {{#each items as |item|}}
        <li class="list-group-item">
          <span class="badge">{{item.person.name}}</span>
          {{item.value}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
