.people {
  ul li {
    margin-bottom: 20px;
  }

  li:nth-child(4n) {
    padding-right: 0;
  }

  .avatar {
    width: 100px;
    margin-bottom: 5px;
  }

  .name {
    display: block;
    text-align: center;
  }
}
